{% extends 'nav.html' %}
{% block content %}
        <body style="background-color: aqua;">
        <center>
          
            <h1>Show Student details</h1>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Student name</th>
                    <th scope="col">Email </th>
                    <th scope="col">Age</th>
                    <th scope="col">Joining Date</th>
                    <th scope="col">Course</th>
                    <th scope="col">Course Fee</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for s in students %}
                  <tr>
                     <td>{{ s.sname }}</a></td>
                     <td>{{s.address}}</td>
                     <td>{{s.age}}</td>
                     <td>{{s.date}}</td>
                     <td>{{s.course.course_name}}</td>
                     <td>{{s.course.fee}}</td>
                     <td><a href="{% url 'edit' s.id %}">Edit</a>
                     <a href="{% url 'delete' s.id %}">&Delete</a>
                        </td>  
                   </tr>
                   {% endfor %}
                </tbody>
              </table>
              
            </center>
            </table>
            {% endblock %}
        </body>  
